{% extends "layout.html" %}
{% block content %}

<div>
    <h2>Sensor Data</h2>
    <a href="/sensors">
        <input type="button" value="Data" />
    </a>

    {% if main_process == true %}
    <h2>Main Process is currently <strong>on</strong></h2>
    <div>
        <div>
            <a href="/changeProcess/off">
                <input type="button" value="Turn off" />
            </a>
        </div>
    </div>
    {% else %}
    <h2>Main Process is currently <strong>off</strong></h2>
    <div>
        <div>
            <a href="/changeProcess/on">
                <input type="button" value="Turn on" />
            </a>
        </div>
    </div>
    {% endif %}

    {% if led_blink_mode == true %}
    <h2>LED Blink Mode is currently <strong>on</strong></h2>
    <div>
        <div>
            <a href="/changeBlinkMode/off">
                <input type="button" value="Turn off" />
            </a>
        </div>
    </div>
    {% else %}
    <h2>LED Blink Mode is currently <strong>off</strong></h2>
    <div>
        <div>
            <a href="/changeBlinkMode/on">
                <input type="button" value="Turn on" />
            </a>
        </div>
    </div>
    {% endif %}


</div>

{% endblock %}