<!DOCTYPE html>

<head>
    <title>Primary control center</title>
    <link rel="stylesheet" type= "text/css" href="{{ url_for('static',filename='styles/layout.css') }}">
    <link rel="icon" type="img/png" href="{{ url_for('static', filename='pictures/icon.png') }}">
    <meta http-equiv=”refresh” content="5" />
    <meta charset="UTF-8">
    <meta name="author" content="Jakob * (Prossinger + Mierl)">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>


<body>
    <h1>Control center</h1>
    <a href="/">
        <button type="button">Home</button>
    </a>
    {% block content %}
    {% endblock %}
</body>

</html>