<!DOCTYPE html>

<head>
    <title>Primary control center</title>
    <link rel="stylesheet" href="main.css">
    <link rel="icon" href="icon.png">
    <meta http-equiv=”refresh” content="5" />
    <meta charset="UTF-8">
    <meta name="author" content="Jakob * (Prossinger + Mierl)">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>


<body>

    <h1>Control center</h1>
    <a href="/">
        <input type="button" value="Home" />
    </a>
    {% block content %}
    {% endblock %}
</body>

</html>